.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
section {
  margin: 0;
  padding: 0;
}
:root {
  /* BG COLORS */
  --primary-bg-cl: #2e2f42;
  --secondary-bg-cl: #f4f4fd;
  --team-bg-cl: #ffffff;
  --button-bg-cl: #4d5ae5;
  --active-txt-cl: #404bbf;
  --icon-cl: #afb1b8;
  --modal-window-bg: #fcfcfc;

  /* TXT COLORS */
  --primary-txt-cl: #2e2f42;
  --secondary-txt-cl: #434455;
  --logo-txt-cl: #4d5ae5;
  --second-logo-txt-color: #f4f4fd;
  --footer-txt-cl: #e7e9fc;
  --hero-txt-cl: #ffffff;
  --hover-button-cl: #404bbf;
}

@keyframes move-top {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* NAV */

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-design {
  color: var(--logo-txt-cl);
}
.address {
  line-height: calc(24 / 16);
  color: var(--secondary-txt-cl);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
  color: var(--active-txt-cl);
  cursor: pointer;
}
.header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-link:hover,
.header-link:focus {
  color: var(--active-txt-cl);
  cursor: pointer;
}
.header-link.current {
  color: var(--active-txt-cl);
}
.header-link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-button-cl);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-right: auto;
}
.header-link,
.address,
.header-logo {
  padding-top: 24px;
  padding-bottom: 31px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-address {
  display: flex;
  gap: 40px;
}
.link {
  text-decoration: none;
  color: var(--primary-txt-cl);
}

/* BODY */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-txt-cl);
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HERO SECTION */

.hero {
  color: var(--hero-txt-cl);
  background-color: var(--primary-bg-cl);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herobackground/hero-background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 188px;
  padding-top: 188px;
}
.h-title {
  line-height: calc(60 / 56);
  font-size: 56px;
  width: 494px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.button {
  background-color: var(--button-bg-cl);
  color: var(--hero-txt-cl);
  font-weight: 500;
  line-height: calc(24 / 16);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--hover-button-cl);
}
.li-title {
  font-size: 36px;
  line-height: calc(40 / 36);
}
.li-list {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 8px;
}
.txt {
  line-height: calc(24 / 16);
  color: var(--secondary-txt-cl);
}
.h-h {
  text-align: center;
  margin-bottom: 72px;
}

/* OUR FEATURES */

.our-features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features {
  display: flex;
  gap: 24px;
  padding: 0;
}
.features-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.features-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-bg-cl);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

/* What are we doing section */

.what-doing {
  padding-bottom: 120px;
}
.doing-img {
  display: flex;
  padding: 0;
  gap: 24px;
}
.doing-items {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* TEAM */

.our-team {
  background-color: var(--secondary-bg-cl);
}
.team {
  background-color: var(--team-bg-cl);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.team-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-items {
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.txt-team {
  margin-bottom: 8px;
}
.div-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
ul {
  list-style: none;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--button-bg-cl);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--hover-button-cl);
}
.socials-icon {
  fill: var(--secondary-bg-cl);
}
/* Customers */
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover .customers-svg,
.customers-link:focus .customers-svg {
  fill: var(--hover-button-cl);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-button-cl);
}
.customers-svg {
  margin: 16px 32px;
  fill: var(--icon-cl);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* FOOTER */

.footer {
  background-color: var(--primary-bg-cl);
  color: var(--footer-txt-cl);
  display: flex;
  align-items: baseline;
}
.txt-foot {
  line-height: calc(24 / 16);
  width: 264px;
  margin-top: 16px;
}
.footer-logo {
  color: var(--footer-txt-cl);
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 120px;
  align-items: baseline;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 16px;
}
.socials-footer {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 16px;
}
.socials-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: #31d0aa;
}
/* PORTFOLIO */

.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  background-color: var(--secondary-bg-cl);
  color: var(--logo-txt-cl);
  border: 1px solid var(--hero-txt-cl);
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--hero-txt-cl);
  background-color: var(--hover-button-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--hover-button-cl);
}
.wrapper {
  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.wrapper-header-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-items {
  padding-bottom: 120px;
  padding-top: 96px;
}
.p-items {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-links {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.prtf-link {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prtf-link:hover,
.prtf-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-animation-div {
  position: relative;
  overflow: hidden;
}

.project-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: calc(24 / 16);

  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  overflow: auto;

  background-color: var(--button-bg-cl);
  color: var(--second-logo-txt-color);

  transform: translate(0, 100%);
  transition: transform 500ms linear;
}
.prtf-link:hover .project-animation {
  transform: translate(0, 0);
}
.link-animation:focus .project-animation {
  transform: translate(0, 0);
}

/* Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 700ms ease-in, visibility 700ms ease-in;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(50%, -70%);
  opacity: 0;
  transition-delay: 0s;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 576px;
  background-color: var(--modal-window-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 150ms ease, opacity 150ms ease;
  transition-delay: 400ms;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--footer-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-button-cl);
  fill: #ffffff;
}
